<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Service Controller</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.ibrahimkuley.service</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>Service Controller</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login Controller</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.ibrahimkuley.login</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login Controller</servlet-name>
        <url-pattern>/authencatition/*</url-pattern>
    </servlet-mapping>


    <!--///////////////////////////////Veri tabanı bağlantı bölümü//////////////////////////////////////////////-->
    <listener>
        <listener-class>com.ibrahimkuley.db.DbConnector</listener-class>
    </listener>

    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/jersey_restful?useUnicode=true&amp;characterEncoding=UTF-8
        </param-value>
    </context-param>

    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <param-name>password</param-name>
        <param-value>262626</param-value>
    </context-param>
    <!--///////////////////////////////Veri tabanı bağlantı bölümü//////////////////////////////////////////////-->

    <filter>
        <filter-name>UserCheckFilter</filter-name>
        <filter-class>com.ibrahimkuley.managment.UserCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserCheckFilter</filter-name>
        <servlet-name>Service Controller</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>


</web-app>